@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

//Variables Change

$enable-responsive-font-sizes: true;
$enable-gradients: true;
$enable-shadows: true;
$list-group-border-radius: 0;

$card-deck-margin: 1%;

//End Variable Change

@import "~bootstrap/scss/root";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/print";
@import "~bootstrap/scss/reboot";

body {
  padding-top: 3.5rem;
}

footer {
  height: 10rem;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 1) 100%);
  position: relative;
}

#background {
  transform: translateX(-50%);
  margin-left: 50%;
  position: fixed;
  left: 0;
}

#prodCards {
  background-color: rgba(255,255,255,0.6);
  position: relative;
}

.card-prod-price {
  font-size: 1.375rem;
}

.card-img-top {
  width: auto;
}

.card-deck {

  @include media-breakpoint-up(sm) {
    .card {
      flex: 0 0 48%;
      margin-bottom: $card-deck-margin;
    }
  }

  @include media-breakpoint-up(md) {
    .card {
      flex: 0 0 31.33333%;
      margin-bottom: $card-deck-margin;
    }
  }

  @include media-breakpoint-up(lg) {
    .card {
      flex: 0 0 23%;
      margin-bottom: $card-deck-margin;
    }
  }

  @include media-breakpoint-up(xl) {
    .card {
      flex: 0 0 18%;
      margin-bottom: $card-deck-margin;
    }
  }
}

.card-prod-img {
  display: inherit;
  align-items: center;
  justify-content: center;

  img {
    max-height: 100%;
    max-width: 100%;
  }

  @include media-breakpoint-only(xl) {
    height: 250px;
  }
  @include media-breakpoint-only(lg) {
    height: 200px;
  }
  @include media-breakpoint-only(md) {
    height: 168px;
  }
  @include media-breakpoint-only(sm) {
    height: 180px;
  }
  @include media-breakpoint-only(xs) {
    height: 168px;
  }
}

.card-title h6 {
  height: 57px;
  overflow: hidden;
}

.card-title-fade {
  height: 1rem;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 59px;
  background: linear-gradient(90deg, transparent, white);
}

.slide-img {
  width: inherit;
  max-height: 400px;
  margin: 0 auto;
}

.cart-list-item {
  position: relative;
}

.cart-list-item:hover {
  .delete-item-btn {
    left: 99%;
  }
}

.delete-item-btn {
  transition: left 0.5s;
  position: absolute;
  padding: 10px 0;
  width: 3rem;
  left: 90%;
  top:0;

  svg {
    font-size: 1.5rem;
  }

  &:focus {
    outline: none;
  }
}