<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <div id="root"></div>
    </body>
    {% block javascripts %}
        <script>
            var userEmail = "{{ user }}";
        </script>
        {{  encore_entry_script_tags('app') }}
    {% endblock %}
</html>
